@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: "Roboto";
    font-weight: bold;
}

.header {
    background-color: #ef0e3d;
}

.seperator {
    background-color: black;
    height: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.seperator .poke-melon {
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
}

.seperator .poke-button {
    width: 30px;
    height: 30px;
    position: absolute;
    border: 3px solid black;
    border-radius: 50%;
}

.card {
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.15);
}

.score {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media (max-width: 520px) {
    .scoreboard {
        flex-direction: column;
        gap: 16px !important;
    }
}